#!/bin/sh

NAME="{{ django_app }}"
DJANGODIR="{{ django_project_path }}"
SOCKFILE={{ django_env }}/run/gunicorn.sock
USER={{ django_user }}
GROUP={{ django_group }}
NUM_WORKERS={{ django_gunicorn_workers }}

# Set this to 0 for unlimited requests. During development, you might want to
# set this to 1 to automatically restart the process on each request (i.e. your
# code will be reloaded on every request).
MAX_REQUESTS={{ gunicorn_max_requests }}

echo "Starting $NAME as `whoami`"

# Activate the virtual environment.
cd $DJANGODIR
. {{ django_env }}/bin/activate



# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec gunicorn \
    --name $NAME \
    --workers $NUM_WORKERS \
    --max-requests $MAX_REQUESTS \
    --user $USER --group $GROUP \
    --log-level debug \
    --bind unix:$SOCKFILE \
    {{ django_app }}.wsgi