[program:{{django_app}}]
command={{ django_env }}/bin/gunicorn_start
user={{django_user}}
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile={{ django_project_path }}/logs/gunicorn-error.log
